* {
	font-family: Roboto;
	outline: solid black 2px;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
}

/* 1st section: Header logo, links, button and hero text. */

.section-header-hero {
	display: flex;
	flex-direction: column;
	background-color: #1F2937;
}

.header {
	display: flex;
	justify-content: space-around;
	padding: 15px
}

.header-logo {
	font-size: 24px;
	color: #F9FAF8;
}

.header-links {
	display: flex;
	gap: 15px;
}

li {
	list-style-type: none;
}

.container {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 150px 100px;
}

.hero-text {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 200px; 
	flex-wrap: wrap;
	gap: 10px;
}

.text {
	font-weight: 900;
	color: #f9faf8;
	font-size: 48px;
	width: 400px;
}

.subtext {
	width: 400px;
}

.subtext, a {
	font-size: 18px;
	color: #E5E7EB;
	text-decoration: none;
}

.image {
	width: 570px;
	height: 200px;
	background-color: grey;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button {
	display: flex;
	align-content: center;
}

.signup {
	padding: 5px 30px;
	border: none;
	background-color: #3882F6;
	border-radius: 5px;
	color: #f9faf8;
	font-weight: bold;
	font-size: 16px;
}

/* 2nd section: Title about images and information. */

.section-info {
	text-align: center;
	padding: 10px;
	padding-bottom: 150px;
}

.section-info__header {
	font-size: 36px;
	font-weight: 900;
	color: #1f2937;
	padding: 20px;
}

.section-info__grid {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.section-info__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
}

.section-info__text {
	color: gray;
	margin-top: 10px;
	font-weight: bolder;
	max-width: 200px;
}

img {
	width: 100%;
	max-width: 200px;
	height: auto;
	border-radius: 5px;
}

/* 3rd section: Quote section and author. */

.section-quote {
	padding: 150px;
	background-color: #e5e7eb;
	display: flex;
	justify-content: center;
}

.section-quote__container {
	display: flex;
	flex-direction: column;
	max-width: 800px;
}

.section-quote__text {
	font-size: 36px;
	font-family: "ligh italic";
	color: #1f2937;
}

.section-quote__author {
	font-weight: bold;
	color: #1f2937;
	align-self: end;
}

/* 4th section: Sign up texts and button. */

.section-signup {
	padding: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-signup__container {
	display: flex;
	justify-content: center;
	padding: 40px 0px;
	background-color: #3882F6;
	max-width: 1070px;
	width: 100%;
	border-radius: 5px;
}

.section-signup__text {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	width: 100%;
}

.section-signup__title {
	font-size: 24px;
	font-weight: bold;
	color: #F9FAF8;
}

.section-signup__subtext {
	font-size: 18px;
	color: #E5E7EB;
}

.section-signup-button__container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.section-signup__button {
	padding: 5px 30px;
	background-color: #3882F6;
	border-radius: 5px;
	color: #F9FAF8;
	font-weight: bold;
	outline: #f9faf8 1px;
	font-size: 16px;
}

/* 5th section: footer. */

.section-footer {
	padding: 40px 100px;
	text-align: center;
	background-color: #1F2937;
	color: #E5E7EB;
}